            <div class="modal-header">
                <button type="button" class="close" ng-click="userCtrl.closeModal()">&times;</button>
                <h4 class="modal-title">Change password</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Old password: </label>
                    </div>
                    <div class="col-md-6">
                        <input type="password" ng-model="userCtrl.changePass.string1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>New password: </label>
                    </div>
                    <div class="col-md-6">
                        <input type="password" ng-model="userCtrl.changePass.string2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Repeat password: </label>
                    </div>
                    <div class="col-md-6">
                        <input type="password" ng-model="userCtrl.changePass.repeatPassword">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1">
                        <button type="button" class="btn btn-success" ng-click="userCtrl.changePassword()">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="userCtrl.closeModal()">Close</button>
            </div>