<div class="container">
    <div class="col-md-offset-2 col-md-8">
        <div class="row">
            <h3>Create new Certificate Authority</h3>
        </div>
        <hr><br><br>
        <div class="row">
            <div class="col-md-4">
                <label>Issuer: </label>
            </div>
            <div class="col-md-6">
                <a href="/#/ca/{{caCtrl.issuer}}">See issuer</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Common name: </label>
            </div>
            <div class="col-md-6">
                <input type="text" ng-model="caCtrl.CA.certificate.certificateData.commonName">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Given name: </label>
            </div>
            <div class="col-md-6">
                <input type="text" ng-model="caCtrl.CA.certificate.certificateData.givenName">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Surname: </label>
            </div>
            <div class="col-md-6">
                <input type="text" ng-model="caCtrl.CA.certificate.certificateData.surname">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Organizational unit: </label>
            </div>
            <div class="col-md-6">
                <input type="text" ng-model="caCtrl.CA.certificate.certificateData.organizationalUnit">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Bottom CA: </label>
            </div>
            <div class="col-md-6">
                <input type="checkbox" value="" ng-model="caCtrl.CA.bottomCA">
            </div>
        </div>
        <hr><br>
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-success" ng-click="caCtrl.create()">Create</button>
            </div>
        </div>
    </div>
</div>