<div class="container" ng-init="freqCtrl.load()">
    <div class="col-md-offset-2 col-md-8">
        <div class="row">
            <h3>Set CRL generation frequency for
                <span ng-if="freqCtrl.all"> all CAs</span>
                <span ng-if="!freqCtrl.all"> CA</span>
            </h3>
            <br><hr><br>
        </div>
        <div class="row" ng-if="!freqCtrl.all">
            <div class="col-md-6">
                <label>Certificate Authority: </label>
            </div>
            <div class="col-md-6">
                <a href="/#/ca/{{freqCtrl.id}}">View CA</a>
            </div>
        </div>
        <div class="row" ng-if="!freqCtrl.all">
            <div class="col-md-6">
                <label>Current frequency: </label>
            </div>
            <div class="col-md-6">
                <label>{{freqCtrl.ca.crlInformation.frequencyDescription}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Default frequency: </label>
            </div>
            <div class="col-md-6">
                <label>{{freqCtrl.default.freqDesc}}</label>
            </div>
        </div>
        <div class="row" ng-if="!freqCtrl.all">
            <div class="col-md-offset-9 col-md-3 pull-right">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="freqCtrl.useDefault">Use default</label>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="freqCtrl.useDefault">
            <div class="col-md-6">
                <label>New frequency: </label>
            </div>
            <div class="col-md-6">
                <select class="form-control" ng-model="freqCtrl.newFreq.cronExp">
                    <option ng-repeat="f in freqCtrl.options" value="{{f.cronExp}}">{{f.freqDesc}}</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <button type="button" class="btn btn-success" ng-click="freqCtrl.save()">Save</button>
        </div>
    </div>
</div>