<div class="container" ng-init="reqCtrl.getCertificateRequests()">
    <div class="col-md-offset-2 col-md-8">
        <div class="row">
            <h3 ng-if="!reqCtrl.isAdmin()">My Certificate Requests</h3>
            <h3 ng-if="reqCtrl.isAdmin()">Submitted Certificate Requests</h3>
        </div>
        <br><hr><br>
        <div ng-repeat="req in reqCtrl.requests">
            <div class="row card">
                <div class="col-md-4 card-heading">
                    <label>Name: </label>
                    <br>
                    <label>{{req.certificateData.commonName}}</label>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Date submitted: </label>
                        </div>
                        <div class="col-md-6">
                            <label>{{req.revocationDate}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>State: </label>
                        </div>
                        <div class="col-md-6">
                            <label>{{req.state}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/#/request/{{req.id}}"><button type="button" class="btn btn-default">Details</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>